

<button type="button" (click)="openModal()" class="btn btn-danger">Crear Nuevo Gasto</button>
<br><br>

<div *ngIf='alertMessage' class="alert alert-danger alert-dismissible fade show" role="alert">
  {{alertMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='onCloseAlert()'>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="expenses; else nodata" class="row">
  <div class="col-sm-6 col-md-3 card-grid animated slideInRight" *ngFor="let expense of expenses | slice:0:20">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{expense.description}}</h5>
        <div>{{expense.cost }} €</div>
        <p class="card-text">
            <small class="text-muted">{{expense.date | date}} </small> 
        </p>
        <a (click)="onDelete(expense.id)" class="btn btn-warning">Borrar</a>
      </div>
    </div>
  </div>
</div>

<app-add-expense [show]="openCreateModal" (changed)=onChanged($event)></app-add-expense>

<!-- TODO move it to a service and hide it throw eventEmmiter on finally -->
<ng-template #nodata>
  <div *ngIf="!alertMessage">Loading...</div>
</ng-template>